modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SEHATI Server"

[[workflows.workflow]]
name = "SEHATI Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd sehatizipzip && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
CONTRACT_ADDRESS = "0x6AF769646090EC43fa25Ee8C933B39fBfb3f67F9"
